.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 40px 0;
  width: 100%;

  .image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      object-fit: cover;
    }
  }

  .search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 85%;

    .search {
      display: flex;
      align-items: start;
      gap: 20px;
      width: 100%;
    }
  }
}



